<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<title>DOSCG Assignments</title>
  </head>
  <body>
      <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./Front_BT.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./MyCV.html">My CV</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">API (back-end)</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="./find_bc_value.html">Finding B,C Values</a>
          <a class="dropdown-item" href="./gmai.html">google API</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">DOSCG Assignments</h1>
      <p>We are looking for a lot of Web Developer who is dedicated to their craft, writes code that is proud of and can hit the ground running. We need you to write beautiful, fast PHP, Vue.JS(Node.JS), GoLang and JAVA to a high standard, in a timely and scalable way that improves the code-base of our products in meaningful ways.
You will be a part of a creative team that is responsible for all aspects of the ongoing software development from the initial specification, through to developing, testing and launching. And open for working overseas.</p>
      <p><a class="btn btn-primary btn-lg" href="MyCV.html" role="button">See My CV &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>WEB (front-end)</h2>
        <p> Vue.JS V3 and Bootstrap V4 </p> 
        <p> •	Please use Bootstrap V4 for CSS </p>
        <p> •	Please create Top bar, body, and footer for every page components </p>
        <p> •	Please create a new page for showing results from your API(separate router by each API) </p>
        <p> •	One simple static page for your CV </p>

      </div>
      <div class="col-md-4">
        <h2>API (back-end)</h2>
        <p> ZF3 Framework(PHP), Express(Node.JS), Golang or Rust </p> 
        <p> •	Create a new controller and Model called “DOSCG” </p> 
        <p> •	X, Y, 5, 9, 15, 23, Z  - Please create a new function for finding X, Y, Z value </p>
        <p> •	If A = 21, A + B = 23, A + C = -21 - Please create a new function for finding B and C value </p>
        <p> •	Please use “Google API” for finding the best way to go to Central World from SCG Bangsue </p>
        <p> •	Please create a small project using Line messaging API for getting a notification when your Line Bot can not answer a question to the customer more than 10 second </p>
        <p> ** Make sure you have a cache for every function **  </p>
        <p><a class="btn btn-secondary" href="./find_bc_value.html" role="button">View souces &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>References</h2>
        <p> https://github.com/Tonytoons/PHP-ZF3-Starter-Kit </p>
		<p> https://developers.line.biz/en/services/messaging-api/ </p>
		<p> https://golang.org/doc/ </p>
		<p> https://expressjs.com/ </p>
		<p> https://www.rust-lang.org/</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; ส่งการบ้านวันที่ 24 พค 2563 โดย โจ ดินแดง</p>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>